---
layout: page
free_layout: true
title: Discover
permalink: /discover/
---

<h3>things i found on the interwebz</h3>

<ul>
  {% for discover in site.data.discover %}
    <li class="discover">
      <span>{{ discover.date }}</span>
      {% if discover.url %}
        {% if discover.title %}
          <a href="{{ discover.url }}" target="_blank">{{ discover.title }}</a>
        {% else %}
          <a href="{{ discover.url }}" target="_blank">{{ discover.url | remove:'http://' | remove:'https://' | split:'/' | first }}</a>
        {% endif %}
        {% if discover.description %}
          <p>{{ discover.description }}</p>
        {% endif %}
      {% else%}
      {% endif %}
    </li>
  {% endfor %}
</ul>