---
layout: default
---

<div class="background-extended">
  <div class="wrapper">
    <div class="featured-post">
      <h4 class="promotion-message">LATEST BLOG POST</h4>
      {% for post in site.posts limit:1 %}
        <h2 class="no-rythm">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
      {% endfor %}
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="post-content">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=christianfeininja" id="_carbonads_js"></script>
  </div>

  <ul class="post-list">
    {% for post in site.posts offset:1 %}
      <li>
        <a class="no-bold" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span class="post-date">{{ post.date | date_to_string }}</span></a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
