html, body {
  font-size: 22px;
}
body {
  padding: 0.5em 1em;
}
@media all and (max-width: 700px) {
  html, body {
    font-size: 20px;
  }
}

::-moz-selection {
  background: #ff3b00;
  background: rgba(255, 59, 0, 0.9);
  color: white;
}
::selection {
  background: #ff3b00;
  background: rgba(255, 59, 0, 0.9);
  color: white;
}


a {
  color: #222;
  border-bottom: 1px solid #ff3b00;
  transition: all .2s ease-in-out;
  padding: 0.1em 0.2em;
}

a img {
  border-bottom: none !important;
}

a:hover,
a:active,
a:focus {
  background: #ff3b00;
  color: white;
}

a.no-outline {
  outline: none !important;
}




/* HEADER */
.main-header {
  padding: 1em;
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: -0.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.main-header .avatar {
  display: inline-block;
}
@media all and (max-width: 700px) {
  .social-container {
    display: none;
  }
}
@media all and (max-width: 700px) {
  .main-header .avatar-container {
    display: none;
  }
}
.main-header header {
  padding: 0.5em;
}




.fade-out-bottom {
  max-height: 600px;
  min-height: 200px;
  overflow: scroll;
}
.fade-out-bottom:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 4em;
}







/* CONTENT */
.content .posts {
  list-style-type: none;
  margin-left: 0;
}
.content .posts li {
  display: block;
}
.content .posts .post-link {
  position: relative;
  min-width: 500px;
  display: block;
}
@media all and (max-width: 700px) {
  .content .posts .post-link {
    display: inline-block;
  }
  .content .posts li {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content .posts .post-link time {
    display: none;
  }
}
.content .posts .post-link time {
  display: inline-block;
  font-family: monospace;
  position: absolute;
  right: 100px;
  font-weight: normal;
  transition: all 0.3s ease;
}
.content .posts .post-link:hover,
.content .posts .post-link:active,
.content .posts .post-link:focus {
  color: black;
  color: white;
  background: #f5f5f5;
  background: black;
  outline: white 2px solid;
}
.content .posts .post-link:hover time,
.content .posts .post-link:active time,
.content .posts .post-link:focus time {
  font-weight: bold;
  opacity: 1;
}

header .button {
  padding-left: 0 !important;
  padding-right: 2.75em !important;
}

main.container.content {
  max-width: 900px;
  margin-left: 0;
}




/*
searchable.css
*/
.searchable input {
  display: block;
  font-size: 0.9rem;
  padding: 0.75em;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
}





.small-text {
  font-size: 0.7rem;
}
.twitter {
  background: #1e96ff;
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 9px;
  text-decoration: none !important;
  border: none;
}

#pocket-items ul {
  list-style-type: none;
  margin-left: 0;
}
.pocket-item {
  font-size: 0.9rem;
	/* -webkit-animation: pocket-item-animation 1s ease both; */
          /* animation: pocket-item-animation 1s ease both; */
  /* transform-origin: 0 0; */
}

@-webkit-keyframes pocket-item-animation {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pocket-item-animation {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.math {
  font-size: 2rem;
}

.mega {
  font-size: 3.5em !important;
}