---
layout: page
title: Thoughts
permalink: /thoughts/
---

<h1 class="giant">
  lots.
  <br/>
  of.
  <br/>
  fucking.
  <br/>
  swearing.
  <br/>
  ahead
</h1>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{% for post in site.posts %}
  {%if post.category == 'thoughts'%}
  <article class="post">
    <div class="content">
      <h1 class="title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">
        {{ post.date | date_to_string }}
      </time>
      <div>
        {{ post.content }}
      </div>
    </div>
  </article>
  {%endif%}
{% endfor %}
