{% unless page.title == 'about' %}
<section class="white ph3 ph5-ns pv4 intro-line">
  <div class="cf">
    <section class="fl f6">
      I'm an italian agile software developer, living in Trento (IT)
      <br>
      <a href="/about" class="link white db-mobile">Read more about me</a>
    </section>
    <section class="social-links black ml3 fr f6">
      <a target="_blank" href="/rss.xml"><i class="icon-rss"></i></a>
      <a target="_blank" href="https://github.com/christian-fei"><i class="icon-github"></i></a>
      <a target="_blank" href="https://twitter.com/christian_fei"><i class="icon-twitter"></i></a>
      <a target="_blank" href="https://www.instagram.com/christianfei/"><i class="icon-instagram"></i></a>
      <a target="_blank" href="https://open.spotify.com/user/11183484356"><i class="icon-spotify"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/christian-fei-6b72b5123?trk=hp-identity-name"><i class="icon-linkedin"></i></a>
    </section>
  </div>
</section>
{% endunless %}
