{% unless page.title == 'about' %}
<section class="white cf ph3 ph5-ns pv3 intro-line">
  <section class="fl w-70 w-100-m">
    I’m an Italian agile software developer living in Trento, Italy. <a href="/about" class="ml3 f6 link white">Read more about me</a>
  </section>
  <section class="fl w-30 w-100-m">
    <a target="_blank" href="/rss.xml" class="white"><i class="icon-rss"></i></a>
    <a target="_blank" href="https://github.com/christian-fei" class="white"><i class="icon-github"></i></a>
    <a target="_blank" href="https://twitter.com/christian_fei" class="white"><i class="icon-twitter"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/christian-fei-6b72b5123?trk=hp-identity-name" class="white"><i class="icon-linkedin"></i></a>
    <a target="_blank" href="https://open.spotify.com/user/11183484356" class="white"><i class="icon-spotify"></i></a>
    <a target="_blank" href="https://www.instagram.com/christianfei/" class="white"><i class="icon-instagram"></i></a>
  </section>
</section>
{% endunless %}
