<header>
  <nav>
    <div class="container">
      <a href="/" class="home-link">Home</a>&nbsp;
      <a href="/posts">Posts</a>&nbsp;
      <a href="/about">About</a>&nbsp;
      <aside class="social-links-container">
        <a href="https://twitter.com/christian_fei" class="title-popover twitter" target="_blank" title="Follow me on Twitter" tabindex="-1">
          {% include icons/twitter.html %}
        </a>
        <a href="https://github.com/christian-fei" class="title-popover github" target="_blank" title="My projects on Github" tabindex="-1">
          {% include icons/github.html %}
        </a>
        <a href="/rss.xml" class="title-popover rss" target="_blank" title="Subscribe to RSS feed" tabindex="-1">
          {% include icons/rss.html %}
        </a>
        <a href="/search.json" class="title-popover json" target="_blank" title="search.json" tabindex="-1">
          {% include icons/json.html %}
        </a>
      </aside>
    </div>
  </nav>
  <section>
    <div class="container">
      <p>
        <a href="/about" class="avatar-container" tabindex="-1">
          <img src="/assets/images/cf.128x128.png" class="avatar" alt="">
        </a>
        Hi! My name is Christian, an Agile Software Developer, living in Trento (IT).
        <br>
        I am currently working at <a href="https://wonderflow.co" target="_blank">Wonderflow</a>.
        {% unless page.url == '/about/' %}
        <br>
        You can read more <a href="/about">about me</a>.
        {% endunless %}
      </p>
    </div>
  </section>
</header>
