<section class="pad pad-more-top">
  <header>
    <a href="/"><i class="icon-home"></i></a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <input type="text" tabindex="2" id="search-input" placeholder="Type / to search">
    <div id="results-container"></div>
  </header>
  {% unless page.title == 'about' %}
  <section class="pad-more-top">
    I'm an italian agile software developer, living in Trento (IT)
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a href="/about" tabindex="3" class="">More about me</a>
  </section>
  {% endunless %}
</section>
