<div>
  <h1 id="{{ tid.title | slugify }}">{{tid.title}}</h1>
  <time datetime="{{ tid.date | time_tag }}" class="f6 mb3">
    written on <strong itemprop="datePublished" content="{{ tid.date | time_tag }}">
      {{ tid.date | date: "%a, %b %d, %Y" }}
    </strong>
  </time>,
  <address style="display: inline;">
    by <a href="https://twitter.com/christian_fei" rel="author">
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">
          Christian Fei
        </span>
      </span>
    </a>
  </address>
  <p>
    {% if tid.url and tid.content %}
      {{ tid.content | markdownify }}
      <br/>
      Reference: <a target="_blank" href="{{ tid.url }}">{{ tid.url }}</a>
    {% elsif tid.url %}
      <a target="_blank" href="{{ tid.url }}">{{ tid.url }}</a>
    {% else %}
      {{ tid.content | markdownify }}
    {% endif %}
  </p>
</div>
