/**
 * Site header
 */
.site-header {
  padding-top: 3rem;
  padding-bottom: 0.25rem;
  background-color: $background-color;

  &, * {
    color: $text-color !important;
  }

  a {
    border-bottom: none;
  }

  // Positioning context for the mobile navigation icon
  position: relative;
}

.home-row {
  height: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  // background-image: url(http://subtlepatterns.com/patterns/swirl_pattern.png);
  background-size: 300px;
  opacity: 0.2;
}

.site-title {
  display: inline-block;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: 0;
  float: left;
}

.site-nav {
  float: right;
  line-height: 4.8rem;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}




.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  a {
    font-size: 1.1rem;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-content {
  position: relative;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  letter-spacing: -1px;
  line-height: 1;

}

.post-date {
  float: right;
  font-size: 0.8rem;
  opacity: 0.5;

  @media all and(max-width: $max-width) {
    display: none;
  }
}

img.me {
  width: 100px;
  float: right;
  margin-left: 10px;

  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.twitter-share-button {
  display: inline-block;
  text-align:center;
  padding: .25rem;
  margin: 3rem auto;
}
