body {
  overflow-x: hidden;
}

/**
 * Site header
 */
.site-header {
  padding: 1rem 0;
  position: relative;
  font-weight: bold;
}


.site-title {
  margin-bottom: 0;
  margin-top: 0;
  float: left;
}

.site-nav {
  float: right;

  .menu-icon {
    display: none;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    border-radius: 5px;
    text-align: right;
    z-index: 10000;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding: .5em 1em;
      background: white;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}


.social {
  float: right;

  a {
    margin-right: 1em;
  }

  @include media-query($on-palm) {
    position: absolute;
    right: 75px;
  }

}


.home-row {
  margin: 5rem auto;
}


.site-footer {
  margin-top: 5rem;
}

.post-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  // a {
  //   font-size: 1.1rem;
  // }
}

.post-title, .post-meta {
  line-height: 1;
  margin: 0;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-top: 1em;
  color: white;
  font-weight: bold;
}

.post-content {
  position: relative;
}


img.me {
  width: 100px;
  float: right;
  margin-left: 10px;

  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.round {
  border-radius: 50%;
}


.twitter-share-button {
  display: inline-block;
  text-align:center;
  padding: .25rem;
  margin: 1rem auto;
}

#disqus_thread {
  margin-top: 100px;
}


.featured-post {
  .promotion-message {
    color: white !important;
  }
  p {
    background-color: #fff;
    padding: 1em;
  }
}

.background-extended {
  padding: 0.5em;
  overflow: hidden;
  background: black;
  color: white;
  background: $yellow-color;
  color: black;

  padding-top: 5em;
  padding-bottom: 5em;

  transform: scaleX(1.04) rotateZ(-1deg);
}




/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}





/**
 * Wrapper
 */
.wrapper {
  max-width: 699px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(666px - (#{$spacing-unit}));
    max-width:         calc(666px - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
