@require 'variables'

body
  background-color #fff

body > header
  background-color color_theme
  color color_light
  padding-top 2 * space
  padding-bottom 2 * space

.search-input
  padding .3em 1em
  border-bottom 1px solid black
  background-color transparent
  transition all .2s ease-in-out
  color color_light
  background-color rgba(white, 0.05)

  &:focus, &:active, &:hover
    color color_light
    background-color rgba(white, 0.15)

.results-container
  background-color transparent
  margin-bottom space
  li
    display block
    margin-top space
    opacity 0
    height 0
    transition all 0.2s linear
    transform translateY(-1em)
    animation-name fly-in
    animation-duration 0.2s
    animation-timing-function linear
    animation-fill-mode forwards
    for num in 1..10
      &:nth-child({num}n)
        animation-delay 0.06s * num

@keyframes fly-in
  to
    opacity 1
    height 1em
    background transparent
    transform translateY(0px)



.post
  margin-top space
  position relative

  time
    display inline-block
    position absolute
    top -0.9em
    right 0em
    margin-left 2em
    opacity 0.1
    font-size 0.6em
  &:hover time
    opacity 0.35





















::-webkit-input-placeholder /* Chrome/Opera/Safari */
  color color_light
::-moz-placeholder /* Firefox 19+ */
  color color_light
:-ms-input-placeholder /* IE 10+ */
  color color_light
:-moz-placeholder /* Firefox 18- */
  color color_light
