body > header
  background #333
  color #fff

  a
    color inherit
    border-bottom-color white
  #search-input
    background #fff
    color #333
    padding .3em 1em
body
  background-color #fff

.list-post-section
  margin-top unit
  position relative

  time
    display inline-block
    position absolute
    top -0.9em
    right 0em
    margin-left 2em
    opacity 0.1
    font-size 0.6em
  &:hover time
    opacity 0.35

#search-input
  font-size 0.95em
  border none
  outline none
  border-bottom 1px solid black
  background-color transparent


duration = 0.05s
#results-container
  padding-top unit
  padding-bottom unit
  background-color transparent
  list-style-type none
  font-size 0.8em

  li
    display block
    animation-name fly-in
    animation-duration duration * 2
    transform translateX(-10px)
    animation-fill-mode forwards
    opacity 0
    for num in 1..10
      &:nth-child({num}n)
        transition all duration ease-in-out
        transition-delay num * duration
        animation-delay num * duration
    &:hover, &:focus, &:active
      animation none !important
      animation-delay none !important
      transition all duration ease-in-out
      transition-delay 0s !important
      opacity 1 !important
      transform translateX(1em) !important

@keyframes fly-in
  from
    background transparent
  to
    opacity 1
    transform translateX(0)
    background transparent

.typewriter
  display inline-block
  min-height 1em

time, address
  font-size 0.8em
