.github-projects-gallery
  flex-flow row wrap
  display flex
  margin-top 2em
  margin-bottom 2em

  .github-project
    text-align center
    display block
    flex auto
    width 50%
    min-height 150px
    padding 0.5em 0.7em
    transition all .3s ease-in-out

    &:hover
      color color_light
      background-color rgba(color_dark, 0.2)
