@require 'variables'

html, body
  min-height 100%
  height 100%
  padding 0
  margin 0

body > main,
body > header,
body > footer
  padding-top space
  padding-bottom space

body > main
  &.free
    max-width none

.container
  padding-right space
  padding-left space
  max-width 50rem
  margin auto

.flex-container
  display flex
  .no-flex
    flex none
  .flex
    flex 1
