@require 'variables'

html, body
  min-height 100%
  height 100%
  padding 0
  margin 0

body > main,
body > header > section,
body > footer
  padding-top space/2
  padding-bottom space/2

body > header > nav
  padding-top space
  padding-bottom space

article > footer
  margin-top space * 2

body > main
  &.free
    max-width none

.container
  padding-right space
  padding-left space
  max-width container_width
  margin auto
  position relative

.flex-container
  display flex
  .no-flex
    flex none
  .flex
    flex 1

.social-links-container
  float right

.search-input
  display block
  width 100%

.avatar-container
  display block
  position absolute
  top calc(50% + -1.5rem)
  left -1 * space * 2
  & > div
    position relative

@media all and (max-width 950px)
  .avatar-container
    display none

.avatar
  border-radius 50%
  width 3em
  height 3em



@media all and (max-width container_width)
  .hide-mobile
    display none

.fr
  float right

.article-link
  display block

.mt
  margin-top 2em

.mt-l
  margin-top 6em

.spaced-list li
  margin-bottom 1.5em
