@require 'variables'
html, body
  min-height 100%
  height 100%
  padding 0
  margin 0

body > main
  padding-top space
  padding-bottom space

body > header,
body > footer
  padding-top 2rem
  padding-bottom 2rem

body > main
  &.free
    max-width none

.container
  padding-right space
  padding-left space
  max-width 42rem
  margin auto

.content
  padding-top space
  padding-bottom space

.home-link
  float left

.flex-container
  display flex
  .no-flex
    flex none
  .flex
    flex 1
