a {
  font-weight: bold;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

.separator {
  display: inline-block;
  margin-top: 0.5rem;
  position: relative;
}
.separator::after {
  display: block;
  content: '';
  height: 1em;
  width: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: -0.85rem;
}

#currently-working-on {
  min-height: 1.15em;
}
.loader {
  position: absolute;
  left: 0%;
  top: 50%;
  margin: -10px 0 -10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, .4);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  -webkit-animation: rot .75s infinite ;
  -moz-animation: rot .75s infinite ;
  animation: rot .75s infinite ;
}

@keyframes rot {
  10% {transform: rotate(10deg);}
  30% {transform: rotate(30deg);}
  60% {transform: rotate(70deg);}
  70% {transform: rotate(100deg);}
  90% {transform: rotate(200deg);}
  100% {transform: rotate(359deg);}
}

@-webkit-keyframes rot {
  10% {transform: rotate(10deg);}
  30% {transform: rotate(30deg);}
  60% {transform: rotate(70deg);}
  70% {transform: rotate(100deg);}
  90% {transform: rotate(200deg);}
  100% {-webkit-transform: rotate(359deg);}
}

.giant-first-letter::first-letter {
  font-size: 7em;
}
.giant-line-height::first-line {
  line-height: 1em;
}

.hover-pop-out {
  position: relative;
  display: block;
  -webkit-perspective: 100px;
  -moz-perspective: 100px;
  -ms-perspective: 100px;
  perspective: 100px;
  -webkit-transition: all .08s ease-in-out;
  -o-transition: all .08s ease-in-out;
  transition: all .08s ease-in-out;
}
.hover-pop-out > * {
  -webkit-transition: all .08s ease-in-out;
  -o-transition: all .08s ease-in-out;
  transition: all .08s ease-in-out;
}
.hover-pop-out:hover, .hover-pop-out:focus {
  -moz-transform: translateX(2em) scale(1.05) rotateZ(-0.3deg);
  -webkit-transform: translateX(2em) scale(1.05) rotateZ(-0.3deg);
  -o-transform: translateX(2em) scale(1.05) rotateZ(-0.3deg);
  -ms-transform: translateX(2em) scale(1.05) rotateZ(-0.3deg);
  transform: translateX(2em) scale(1.05) rotateZ(-0.3deg);
}


.post-list-title-hover {}
.post-list-title-hover time {
  opacity: 0;
}
.post-list-title-hover:hover time {
  opacity: 1;
}
