.me {
  @media (max-width: 40em){
    display: block;
    float: none !important;
  }
}

.social-links {
  @media all and (max-width: 50em){
    display: none;
  }
}

*:focus {
  animation: blink .34s infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  transition: all .34s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
    border-bottom: 2px solid black;
  }
  100% {
    opacity: 1;
    border-bottom: 0;
  }
}


.fancy {
  border-radius: 7px;
  box-shadow: -1px 7px 88px -22px #d3d3d3;
  width: 100%;
}
.fancy.small {
  max-width: 25em;
}
.fancy.medium {
  max-width: 35em;
}
.fancy.big {
  max-width: 45em;
}


.avatar-container {
  display: block;
  width: 24em;
  height: 24em;
  background-image: url('/assets/images/cf.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar-container:hover {
  background-image: url('/assets/images/cf.qr.cut.png');
}
.avatar-container {
  @media (max-width: 40em){
    width: 15em;
    height: 15em;
  }
}
.preload-cf-qr {
  background-image: url('/assets/images/cf.qr.cut.png');
  display: none;
  height: 0;
  width: 0;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
}
