body {
  color: hsl(195, 10%, 35%);
}

.avatar {
  width: 60px;
  border-radius: 50%;
  margin: 1.5em auto 1.5em 0;
}

.intro {
  font-size: 0.85rem;
  margin-top: 1rem;
}

@media (min-width: 60em) {
  .sidebar__container {
      position: fixed;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 5rem 1rem 2rem 1rem;
      width: calc(20% + 1rem);
      max-width: 18rem;
  }
  
  .intro {
    margin-top: 0;
  }
}

/*typography*/
html {font-size: 16px;}

body {
  font-family: -apple-system, "Clear Sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  -webkit-font-feature-settings: "kern" 1, "liga" 1;
  font-feature-settings: "kern" 1, "liga" 1;
}

p {
  margin-bottom: 1.3em;
  color: hsl(200, 1%, 35%);
}

h1, h2, h3, h4, h5 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  color: hsl(200, 10%, 19%);
  line-height: 1.2;
  -webkit-font-feature-settings: "kern" 1, "liga" 1;
  font-feature-settings: "kern" 1, "liga" 1;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

blockquote {
  font-family: monospace;
}

a {
  font-weight: bold;
  color: #257C92;
  color: black;
}

.tac {
  text-align: center;
}

@media all and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}




.post-link {
  margin-bottom: 0.85rem;
}

.post-link .title {
  font-size: 0.9rem !important;
  opacity: 0.8;
  transition: all .3s ease;
}
.post-link .title:hover {
  opacity: 1;
}

.post-link time {
  font-size: 0.8rem;
  opacity: 0.3;
  transition: all .3s ease;
}
.post-link time:hover {
  opacity: 0.5;
}
