unit = 0.8rem

.container
  padding-right unit
  padding-left unit
  max-width 42rem
  margin auto

html, body
  min-height 100%
  height 100%

body > main
  background-color #fff
  padding-top unit
  padding-bottom unit

body > header,
body > footer
  background-color #fbfbfb
  padding-top 2rem
  padding-bottom 2rem

body > main
  &.free
    max-width none

body
  background #fdfdfd

.list-post-section
  margin-top unit
  position relative

  time
    display inline-block
    position absolute
    top -0.9em
    right 0em
    margin-left 2em
    opacity 0.1
    font-size 0.6em
  &:hover time
    opacity 0.35

#search-input
  font-size 0.95em
  border none
  outline none
  border-bottom 1px solid black
  background-color transparent


duration = 0.05s
#results-container
  padding-top unit
  padding-bottom unit
  background-color transparent
  list-style-type none
  font-size 0.8em

  li
    animation-name fly-in
    animation-duration duration * 2
    transition all duration ease-in-out
    transform translateX(-10px)
    animation-fill-mode forwards
    opacity 0
    for num in 1..10
      &:nth-child({num}n)
        transition-delay num * duration
        animation-delay num * duration

@keyframes fly-in
  from
    background transparent
  to
    opacity 1
    transform translateX(0)
    background transparent

.typewriter
  display inline-block
  min-height 1em
