.base-container
  padding-right 1rem
  padding-left 1rem
  max-width 34em
  margin auto

html, body
  min-height 100%
  height 100%

body > header,
body > main,
body > footer
  @extend .base-container

body > header,
body > footer
  padding-top 2rem
  padding-bottom 2rem

body > main
  &.free
    max-width none

body
  background #fdfdfd

#search-input
  border none
  outline none
  border-bottom 1px solid black
  background-color transparent


duration = 0.05s
#results-container
  padding-top 1em
  padding-bottom 1em
  background-color #fff
  list-style-type none

  font-size 0.8em

  li
    animation-name fly-in
    animation-duration duration * 2
    transition all duration ease-in-out
    transform translateX(-10px)
    animation-fill-mode forwards
    opacity 0
    for num in 1..10
      &:nth-child({num}n)
        transition-delay num * duration
        animation-delay num * duration


@keyframes fly-in
  from
    background transparent
  to
    opacity 1
    transform translateX(0)
    background transparent
