@require 'variables'
@require 'type-scale'

html
  font-size 14px
@media all and (max-width 40em)
  html
    font-size 16px

body
  font-family 'Noto Sans', sans-serif
  font-weight 400
  line-height 1.45
  color color_text


a
  font-weight bold
  outline 0
  border 0
  text-decoration underline



.search-input
  display block
  font-size 0.95em
  border none
  outline none
  border-radius 5px
  color color_text
  padding 0.5em 0
  transition all .2s ease-in-out

  &:focus, &:active, &:hover
    color color_text
    background-color rgba(black, 0.02)


b,
strong
  font-weight inherit
  font-weight bolder


input
  font-family sans-serif
  font-size 100%
  line-height 1.15
  margin 0

code,
pre
  font-family monospace, monospace
  font-size 1em

time, address
  font-size 0.8em

article > header > h1
  font-size 3.57em

body > footer
  font-size 0.9em

.opaque
  opacity 0.3

img
  max-width 100%

.extreme
  font-size 30vw
  margin 0

.anchorjs-link
  opacity 0.1 !important
  transition all .25s ease-in-out
*:hover > .anchorjs-link, .anchorjs-link:hover
  opacity 1 !important
  background-color transparent !important
