@require 'variables'
@require 'type-scale'
@import url('https://fonts.googleapis.com/css?family=Roboto')

html
  font-size 20px
@media all and (max-width 40em)
  html
    font-size 0.95em

body
  font-family 'Roboto', sans-serif
  font-weight 400
  line-height 1.45
  color color_text


a
  display inline-block
  font-weight bold
  color color_text
  outline 0
  border 0
  text-decoration underline

a:hover, a:focus, a:active
  background black
  color white



body > header
  background color_dark
  color color_light
  font-size 0.95em
  a
    color inherit
  a:hover, a:focus, a:active
    background white !important
    color black !important

  .home-link
    text-decoration none

.post
  font-size 0.8em


#search-input
  font-size 0.95em
  border none
  outline none
  color color_light

#results-container
  font-size 0.8em
  list-style-type none


b,
strong
  font-weight inherit
  font-weight bolder


input
  font-family sans-serif
  font-size 100%
  line-height 1.15
  margin 0


pre
  overflow scroll
  padding 1em

code,
pre
  font-family monospace, monospace
  font-size 1em

time, address
  font-size 0.8em
