space = 1.5rem
container_width = 50rem

duration = 0.25s

color_dark = #222
color_light = #ededed
color_orange = #ff9914
color_yellow = #FCD14E

color_theme = color_dark
color_theme_inverted = invert(color_theme)

color_text = #333
