space = 1.5rem
container_width = 46rem

duration = 0.25s

color_light = #dadada
color_dark = #222
color_theme = #fff
color_theme = #24292e
color_text = #333
color_theme_inverted = invert(color_theme)
