<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="pandoc">
    $for(author-meta)$
      <meta name="author" content="$author-meta$">
    $endfor$
    $if(date-meta)$
      <meta name="dcterms.date" content="$date-meta$">
    $endif$
    <title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>
    <style type="text/css">code{white-space: pre;}</style>
    $for(header-includes)$
      $header-includes$
    $endfor$

    $for(css)$
      <link rel="stylesheet" href="$css$">
    $endfor$
  </head>
  <body>
    $for(include-before)$
      $include-before$
    $endfor$
    <!--
    $if(title)$
      <header>
        <h1 class="title">$title$</h1>
      </header>
    $endif$
    -->

    <article class="content is-medium" itemscope itemtype="http://schema.org/BlogPosting">
      <!--
        <header>
          <h1 itemprop="name">{{ page.title }}</h1>
          <time datetime="{{ page.date | time_tag }}" class="f6 mb3">
            written on <strong itemprop="datePublished" content="{{ page.date | time_tag }}">
              {{ page.date | date: "%a, %b %d, %Y" }}
            </strong>
          </time>,
          <address style="display: inline;">
            by <a href="https://twitter.com/christian_fei" rel="author">
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">
                  Christian Fei
                </span>
              </span>
            </a>
          </address>
          {% include share-twitter.html %}
        </header>
        <section itemprop="articleBody">
          {{content}}
        </section>
        <footer>
          {% include share-twitter.html %}
        </footer>
      -->

      <main class="section">
        <div class="container content">
          $body$
        </div>
      </main>

    </article>

  </body>
</html>
