<!DOCTYPE html>
<html $if(lang)$ lang="$lang$"$endif$>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="pandoc">
    $for(header-includes)$
      $header-includes$
    $endfor$

    $for(css)$
      <link rel="stylesheet" href="$css$">
    $endfor$
  </head>
  <body>
    $for(include-before)$
      $include-before$
    $endfor$

    <div class="container">
      <article class="content" itemscope itemtype="http://schema.org/BlogPosting">
        <main class="container content">
          $if(title)$
            <div class="content">
              <h1 class="title is-1">$title$</h1>
            </div>
          $endif$

          $if(image)$
            <figure class="image">
              <img src="$image$"/>
            </figure>
          $endif$

          $body$
        </main>
      </article>
    </div>

    <div class="box is-shadowless"></div>

    <div class="container">
      <div class="content">
        <ul class="posts">
          $for(posts)$
            <li><a href="/posts/$posts$/">$posts$</a></li>
          $endfor$
        </ul>
      </div>
    </div>

    <div class="box is-shadowless"></div>

    <footer class="footer">
      &copy; Christian Fei 2018
    </footer>

    <script src="/main.js"></script>
  </body>
</html>
