<!DOCTYPE html>
<html $if(lang)$ lang="$lang$"$endif$>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="pandoc">
    $if(title)$
      <title>$title$ - Christian Fei's Blog</title>>
    $endif$

    $for(header-includes)$
      $header-includes$
    $endfor$

    $for(css)$
      <link async defer rel="stylesheet" href="$css$">
    $endfor$
  </head>
  <body>
    $for(include-before)$
      $include-before$
    $endfor$

    <div class="container">
      <article class="main-content content" itemscope itemtype="http://schema.org/BlogPosting">
        <main class="container content">
          $if(title)$
            <div class="content">
              <h1 class="title is-1">$title$</h1>
            </div>
          $endif$

          $if(image)$
            <figure class="image">
              <img src="$image$"/>
            </figure>
          $endif$

          $body$
          $if(title)$
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          $endif$
        </main>
      </article>
    </div>

    <div class="box is-shadowless"></div>

    <div class="container">
      <div class="content">
        <ul class="searchable">
          $for(posts)$
            <li><a class="post-link" href="/posts/$posts.filepath$/"><time>$posts.date$</time> $posts.title$</a></li>
          $endfor$
        </ul>
      </div>
    </div>

    <div class="box is-shadowless"></div>

    <footer class="footer">
      &copy; Christian Fei 2019
    </footer>

    <script async defer src="/main.js"></script>
  </body>
</html>
