.ad-container {
  position: relative;
}

#carbonads {
  display: block;
  margin: 3em auto;
  width: 130px;

  @media all and (min-width: 1100px){
    position: absolute;
    top: 50px;
    left: -175px;

    &:hover {
      opacity: 1;
    }
  }

  .carbon-img {
    display: block;
    margin: .15rem auto;
    width: 100%;
    text-align: center;

    img {
      max-width: none !important;
    }
  }

  .carbon-text, .carbon-poweredby {
    font-size: 12px;
    opacity: 0.8;
  }

  .carbon-text {
    line-height: 1.2;
    display: block;
    color: #289be5;
  }

  .carbon-poweredby {
    color: rgb(186, 186, 186);
  }

  a {
    border: none !important;
    text-decoration: none !important;
  }
}
