.post {
  position: relative;

  header {
    h1, p {
      line-height: 1;
      margin: 0;
    }
    p {
      font-size: $small-font-size;
      color: $grey-color;
      margin-top: 1em;
      color: white;
      font-weight: bold;
    }
  }
}

