<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>
    {% if page.title %}
      {{ page.title }} - {{ site.name }}
    {% else %}
      {{ site.name }} - {{ site.description }}
    {% endif %}
    </title>
    <meta name="description" content="{{ site.meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@site_username">
    <meta name="twitter:creator" content="@creator_username">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/fontello-cf/css/fontello.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  </head>
  <body class="avenir">
    <main class="ph3 ph5-ns">
      <header class="pv3">
        <a href="/"><i class="icon-home-2"></i></a>
        <span class="separator"></span>
        <a target="_blank" href="/rss.xml"><i class="icon-rss"></i></a>
        <a target="_blank" href="https://github.com/christian-fei"><i class="icon-github"></i></a>
        <a target="_blank" href="https://twitter.com/christian_fei"><i class="icon-twitter"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/christian-fei-6b72b5123?trk=hp-identity-name"><i class="icon-linkedin"></i></a>
        <a target="_blank" href="https://open.spotify.com/user/11183484356"><i class="icon-spotify"></i></a>
        <a target="_blank" href="https://www.instagram.com/christianfei/"><i class="icon-instagram"></i></a>
        {% unless page.title == 'about' %}
        <a href="/about" class="ml3 f6">More about me</a>
        {% endunless %}
      </header>

      {% unless page.title == 'about' %}
      <section class="container">
        <p class="intro">
          I’m an Italian software developer living in Trento, Italy.
        </p>
        <p>
          <div id="currently-working-on" class="relative">
            <span class="loader"></span>
          </div>
        </p>
      </section>
      {% endunless %}

      <section class="container">
        {{ content }}
      </section>
    </main>

    <script type="text/javascript" src="/assets/js/echo.js"></script>
    <script type="text/javascript">
      echo.init({
        offset: 100,
        throttle: 250,
        unload: false
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57238829-1', 'auto');
      ga('send', 'pageview');
    </script>
    {% unless page.title == 'about' %}
    <script type="text/javascript">
      var repoAsLink = function(repo) {return '<a href="'+repo.url+'" target="_blank">'+repo.name+'</a>'}
      var currentlyWorkingOnElement = document.getElementById('currently-working-on')
      var request = new XMLHttpRequest();
      request.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var repos = JSON.parse(this.responseText)
          repos.length = 3
          var repoNames = repos.map(function(repo) {return {name: repo.full_name, url: repo.html_url}})
          var reposAsText = repoNames.reduce(function(text, repo, index, array) {
            if(0 === index) {return repoAsLink(repo)}
            if(index === array.length-1) {return text + ' and ' + repoAsLink(repo)}
            return text + ', ' + repoAsLink(repo)
          }, '')
          setTimeout(function() {
            currentlyWorkingOnElement.innerHTML = "I'm currently working on " + reposAsText + "."
          }, 500)
        }
        if (this.readyState == 4 && this.status >= 400) {
          currentlyWorkingOnElement.innerHTML = ""
        }
      }
      request.open("GET", "https://api.github.com/users/christian-fei/repos?sort=updated_at", true);
      request.send();
    </script>
    {% endunless %}
  </body>
</html>
