---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting" class="mw8">
  <header class="mt4">
    <h1 itemprop="name" class="measure fw6 lh-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | time_tag }}" class="f6 mb3">
      written on <strong itemprop="datePublished" content="{{ page.date | time_tag }}">
        {{ page.date | date: "%a, %b %d, %y" }}
      </strong>
    </time>,
    <address class="f6" style="display: inline;">
      by <a href="https://twitter.com/christian_fei" rel="author">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            Christian Fei
          </span>
        </span>
      </a>
    </address>
  </header>
  <section itemprop="articleBody" class="mw7">
    {{content}}
  </section>
  <footer class="mt4">
    {% include share-twitter.html %}
  </footer>
  <span>or copy this link</span>
  <section>
    <small>
      <a itemprop="url" href="{{page.url}}">{{site.url}}{{page.url}}</a>
    </small>
  </section>
</article>

{% if page.has_images %}
<script src="https://rawgit.com/francoischalifour/medium-zoom/master/dist/medium-zoom.min.js"></script>
<script>mediumZoom(document.querySelectorAll('img'));</script>
{% endif %}
