---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name">{{ page.title }}</h1>
    <time datetime="{{ page.date | time_tag }}" class="f6 mb3">
      written on <strong itemprop="datePublished" content="{{ page.date | time_tag }}">
        {{ page.date | date: "%a, %b %d, %Y" }}
      </strong>
    </time>,
    <address style="display: inline;">
      by <a href="https://twitter.com/christian_fei" rel="author">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            Christian Fei
          </span>
        </span>
      </a>
    </address>
  </header>
  <section itemprop="articleBody">
    {{content}}
  </section>
  <footer>
    {% include share-twitter.html %}
  </footer>
  <span>or</span>
  <section>
    <small>
      <a itemprop="url" href="{{page.url}}">copy this link</a>
    </small>
  </section>
</article>

{% if page.has_images %}
<script src="https://rawgit.com/francoischalifour/medium-zoom/master/dist/medium-zoom.min.js"></script>
<script>mediumZoom(document.querySelectorAll('img'));</script>
{% endif %}
